<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CloudJee- WaveMaker integration test suite" verbose="1"
	preserve-order="true">
	<test name="Sample Test Demonstrating testNG flow">
		<classes>
			<class name="com.pramati.wavemaker.test.WaveMakerTestCase" />			
		</classes>
	</test>

</suite>